body {
    font-family: "Consolas", "Lucida Console" monospace;
    background-color: lightblue;
    min-width: 500px;
}

title {
    margin: auto;
}

h1 {
    color: black;
    margin: auto;
}