body {
    background-color: lightblue;
}

main{
    font-family: "Consolas", "Lucida Console", monospace;
    min-width: 500px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

article{
  padding-left: 25px;
  padding-right: 25px;
}

title {
    margin: auto;
}

h1 {
    font-size: 36pt;
    color: black;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
    margin-bottom: 0px;
}

h4 {
    font-size: 14pt;
    margin-bottom: 0px;
}

p {
  margin: 0px auto;
}

a {
    color: blue;
    padding-bottom: 0%;
    padding-top: 0%;
    transition: 0.25s;
}

a:hover {
    color: darkblue;
    font-size: 105%;
}

/* pasted nav bar code */
ul {
    font-family: "Consolas", "Lucida Console", monospace;
    position: fixed;
    top: 0;
    left: -0.2%;
    width: 100.3%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    font-family: "Consolas", "Lucida Console", monospace;
    margin: auto;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #111;
  }

  .active {
    background-color: #333;
  }